@model IEnumerable<ProductModel>
<h1>List Products</h1>
<br/>
<a href="~/Admin/Product/Create">Add Product</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Slug</th>
            <th scope="col">Product Category</th>
            <th scope="col">Product Brand</th>
            <th scope="col">Product Manage</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Decription</td>
                <td>@item.price</td>
                <td><img src="~/media/products/@item.Image" width="100" height="80" /></td>
                <td>@item.Slug</td>
                <td>@item.category.Name</td>
                <td>@item.brand.Name</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Product" asp-route-Id="@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sm confirmDeletion" asp-action="Delete" asp-controller="Product" asp-route-Id="@item.Id">Delete</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>